body.post-type-insertpostads #misc-publishing-actions,
body.post-type-insertpostads #minor-publishing-actions {
	display: none;
}
.plugin-card.vi-card{
	/*    border: 3px solid #9a02c0;*/
		    float: none;
    width: 100%;
    margin: 0;
	border:0;
}
.vi-list{
	    list-style-type: disc;
    font-size: 12px;
    padding-left: 20px;
    line-height: 12px;
}
.vi-card #insert_ads_vi_earnings_wrapper #insert_ads_vi_earnings{
	    width: 25% !important;
    min-width: 20% !important;
}
.vi-card #insert_ads_vi_earnings_wrapper #insert_ads_vi_chart_wrapper{
	width:75% !important;
	height:auto !important;
}
.insert_ads_notice {
	    border-left-color: #000000 !important;
}
